
.main__content {
    padding: 8% 0% 8%;

    .border-shadow {
        border: 1px solid #c5c5c5;
        box-shadow: 0px 1px 15px 1px #888888;

            .info__container{
                background: $green;
            
                .info__layout {

                    height: 100%;            
                    .info__layout--center{
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        height: 100%;
                    }
            
                    .item {
                        margin: 5% 10% 5% 10%;
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                    }

                }
            }
            
            .form__title {
                margin-top: 15%;
                padding-bottom: 10%;
            }


    }  
}

