.contenedor {
    border: 1px solid #c5c5c5;
    box-shadow: 0px 1px 15px 1px #888888;
    width: 90%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;

    .contenedor__info {
        border: 1px solid black;
        padding-top: 5%;
        padding-bottom: 5%;
        background: $green;
        
        .info__layout{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid blue;
            font-size: 10px;

            .icon{
                font-size: 20px;
                margin-left: 5%;
                margin-right: 5%;
            }
    
            .elemento {
                padding: 5%;
                border: 1px solid red;
                text-align: center;
            }
    
        }
    }
    
    .contenedor__form {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        height: 70vh;
    
        .form__center{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid lightcoral;
    
            .form__titulo{
                font-size: 16px;
            }
        
            .form__layout{
                margin-top: 5%;
                width: 80%;
                height: 60%;
            }
        }
    }
}

.title{
    border: 1px solid blue;
    font-weight: bold;
    font-size: 17px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.description{
    display: none;
}

.icon-hide{
    display: block;
}


//medias

@media (min-width: 500px) {

    .contenedor{
        flex-direction: row;

        .contenedor__form{
            width: 70%;
            height: auto;
            align-items: center;
            justify-content: center;
            .form__center{
                width: 90%;
                height: 70%;
            }
        }
    
    }

    .contenedor__info{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .info__layout{
            flex-direction: column;
            justify-content: center;
            height: 40%;

            .elemento{
                margin-top: 5%;
                margin-bottom: 5%;
 
            }

            .description{
                display: block;
                font-weight: bold;
                text-align: center;
            }
        }
        
    }

    .icon-hide{
        display: none;
    }
}