.contenedor {
    border: 1px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;

    .contenedor__info {
        border: 1px solid black;
        padding-top: 5%;
        padding-bottom: 5%;
        background: $green;
        
        .info__layout{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border: 1px solid blue;
            font-size: 10px;
    
            .elemento {
                width: 30%;
                padding: 5%;
                border: 1px solid red;
                text-align: center;
            }
    
        }
    }
    
    .contenedor__form {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
    
        .form__center{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid lightcoral;
    
            .form__titulo{
                border: 1px solid blue;
                font-size: 15px;
                text-align: center;
                font-weight: bold;
                padding: 5%;
            }
        
            .form__layout{
                margin-top: 5%;
                width: 80%;
                height: 60%;
            }
        }
    
        
    }
}



.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}