$green : #1aebb6;

.border {
    border: 1px solid black;
}

.border-shadow {
    border: 1px solid #c5c5c5;
    box-shadow: 0px 1px 15px 1px #888888;
}
.form__container {
    margin-top: 7%;
}


.form__title {
    margin-top:15%;
    padding: 5%;
    font-size: 20px;
}

.info__container {
    height: 100%;
    background: $green;

}

.info__layout {
    margin: 20% 0% 20%;
    padding: 20% 0% 20%;
    height: 90%;
}


.item {
    margin: 20% 10% 20% 10%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.main__content {
    padding-top: 7%;
    padding-bottom: 7%;
    height: 100vh;
    border: 1px solid green;
}



.test {
    height: 70vh;
}




