.form__input {
    height: 50px;
    margin-top: 10px; 
}

.btn {
    background: $green;
    color: black;
    margin-top: 10%;

    &:hover {
        background: lighten($color: $green, $amount: 15);
        color: lighten($color: rgba(212, 247, 204, 0.61), $amount: 15);;
    }
}